<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Segmentation Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<!-- Change this -->
<a class="nav-link" href="{% url 'segmentation:upload' %}">
    <i class="fas fa-home me-1"></i> Home
</a>

<body>
    {% include 'segmentation/includes/navbar.html' %}
    {% include 'chatbot/chatbot.html' %}
    <main class="container my-5">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'segmentation/includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>